/* Import fonts */
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab';
/* for ease these can be copied and pasted into the stylesheet*/
/*font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;*/
/* Change the box model to border box on all elements */

/* {
    box-sizing: border-box;
} */
/* Set the height and width to html and body to 100% */
html,body{
    height: 100%;
    width: 100%;
}
/* Set general rules for body */
body{
    /*    font-family: 'Roboto Slab', serif;
        font-family: 'Open Sans', sans-serif;*/

    font-family: Trebuchet MS, sans-serif;
    /*font-size: 20px;*/
    font-size: 1em;
    padding: 0;
    margin: 0;
    color: #0E223D;
    font-weight: 700;
}
body{
    background-color: #E0F9F4;
    background: url("../content/img/bg.jpg");
    background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    animation: animate-background linear 120s infinite;
}

@keyframes animate-background{
    from {
        background-position: 0px;
    }
    to {
        background-position: -1080px;
    }
} 

html, body, nav, ul, li, a, span{
    margin: 0;
    padding: 0;
}


/* Set background of main transparent*/
main[role] {
    background-color: rgba(255,255,255,.3);
    scroll-behavior: smooth;
    overflow-y: scroll;
    /* overflow: hidden; */
    height: 100vh;
}

header[role], nav[role]{
    width: 70%;
    background-color:rgb(14, 34, 61, .3);
    padding: 0;
    margin: 0 auto;
    box-shadow: 0 0 10px black;
}

header[role]{
    height: 40px;
}

/* Search Input box */
input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    background-image: url('../content/img/icons8-search-25.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 20px 10px 35px;
    margin: 5px 1%;
    /* -webkit-transition: width 0.4s ease-in-out; */
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}

#btn{
    background-color: rgb(255, 255, 255,.8);
    border: 2px solid rgb(204, 204, 204,.8);
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 15px;    
    margin: 5px 1%;
    cursor: pointer;
}

/* Wunderground logo styling in header */
.logo{
    float: left;
}


/* hamburger styling in header */
.hamburger{
    float: right;
    margin: 5px 10px;
    display: block;
    /* margin-right: 10px; */
}

/* .nohamburger{
    float: right;
    margin: 15px 10px;
    display: none;
} */

/* Close icon styling in header*/
/* .close{
    float: right;
    margin: 15px 10px;
    display: block;
}

.noclose{
    float: right;
    margin: 15px 10px;
    display: none;
} */




main[role], footer[role], nav[role], header[role]{
    width: 90%;
    margin: 0 auto;
/*    margin-left: auto;
    margin-right: auto;*/

}

main[role]{
    box-shadow: 0 0 10px black;
    top: 600px;
}

main[role], nav[role], footer[role], header[role] {
    margin: 1rem auto;
    padding: 0.25rem;
    max-width:900px;
}


/* Remove default list marker, margin and padding from these lists */
ul,ol{
    list-style: none;
}

/* remove text decoration for all anchors */
a {
    text-decoration: none;
}



/* From this point we control element sizes and layout for screen display */
h1,h2,h3,h4{
    /*font-size: 8vw;  Roughly 8% of the screen width*/ 
    font-family: 'Roboto Slab', serif;
    padding-bottom: 0;
    margin-bottom: 0;
}


.hide-btn {
    visibility: hidden;
    opacity: 0;
    transform: scale(.75);
}

/* .hide {
    display: none;
} */


.unhide{
    display: block;   
}

nav ul{
    background-color: rgb(14, 34, 61, .7);
    display: flex;
    flex-direction: column;
    
}

nav ul li{
	list-style-type: none;
    transition: .25s ease-in-out;
}

nav ul li a{
    padding: .8rem 1rem;
    display: block;
    text-decoration: none;
    color: #f9f9f9;
}

nav ul li:hover{
    background:rgba(98, 163, 233, 0.25);
}

nav ul li:hover ul{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    cursor: pointer;
}

.logo{
    /* display: block; */
    margin: 0 auto;
    width: 45px;
    transform: scale(2);
}

.logotxt{
    margin: 10px auto;
    color: #92c6f7;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.weather{
    width: 80%;
    margin: auto;
    min-height: 200px;
}

.about{
    width: 90%;
    margin: auto;
    min-height: 200px; 
}

.gpscoords{
	position: relative;
	top: 97px;
	margin: auto;
	padding-top: 10px;
	height: 30px;
	width: 260px;
	background-color: #0E223D;
	border-radius: 7px;
	opacity: 0.6;
    text-align: center;
    color: #ffffff;

}

/* simple app css start */

.info_bg p {
    margin-bottom: -.2em;

  }
  
  .climate_bg {
    position: absolute;
    top: 0;
    left: 54.73%;
    z-index: 6;
    width: 118px;
    height: 100px;
    border-top-right-radius: 10px;
    background-color: rgb(255, 255, 255);
  }

  
  
  .myweathericon {
    display: block;
    position: absolute;
    top: 10px;
    left: 70%;
    z-index: 10;
    width: 40px;
    height: auto;
    transform: scale(2);
    text-align: center;
    overflow: hidden;
  }

  #wdescription{
      position: absolute;
      top: 55px;
      width: 116px;
      margin: 0 auto;
      left: 55%;
      text-align: center;
      color: rgb(6, 22, 54);
      z-index: 6;

  }
  
  .container {
    position: relative;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    width: 260px;
    height: 180px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    opacity: 0;
  }
  
  .dropicon {
    display: block;
    position: absolute;
    top: 19px;
    left: -13px;
    z-index: 3;
    width: 40px;
    height: auto;
    overflow: hidden;
    transform: scale(.7);
  }
  
  .not-available, .failed {
    position: absolute;
    top: 464px;
    left: 0;
    right: 0;
    z-index: 10;
    width: 248px;
    min-height: 24px;
    margin: 0 auto;
    font: 0.625em/1.38 'Trebuchet MS';
    color: rgb(0, 0, 0);
  }
  
  .humidity {
    position: absolute;
    top: 16px;
    left: 12px;
    z-index: 2;
    width: 46px;
    min-height: 29px;
    font-size: 1em;
    line-height: 1;
    text-align: left;
    color: #ffffff;
  }
  
  .info_bg {
    position: absolute;
    top: 100.7px;
    left: 142px;
    z-index: 4;
    width: 118px;
    height: 79.89px;
    border-bottom-right-radius: 10px;
    /* background-color: #1ab1ed; */
    background-color: rgb(88, 159, 240);
  }
  
  .location {
    position: absolute;
    top: 105px;
    left: 0px;
    z-index: 8;
    width: 142px;
    min-height: 39px;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 2;
    margin: 0%;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }
  
  .temperature {
    position: absolute;
    top: 50px;
    left: 0px;
    padding: 0px auto;
    z-index: 7;
    width: 142px;
    margin: auto;
    min-height: 28px;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  #tempunit{
    position: absolute;
    top: 55px;
    width: 142px;
    left: 100px;
    font-size: 3em;
      line-height: 1;
      margin: 0 auto;
    color: #ffffff;   
}

  .hitemp{
      position: absolute;
      top: 5px;
      left: 0;
      width: 142px;
      text-align: center;
      color: #ffffff;
  }

  /* favourite icon */
.favorite {
    position: absolute;
    top: 40px;
    left: -85px;
}

  /* Wind icon */
  .windicon {
    display: block;
    position: absolute;
    top: 14px;
    left: 33.5555%;
    z-index: 1;
    width: 50px;
    height: auto;
    overflow: hidden;
  }
  
  /* windspeed txt */
  .windspeed {
    position: absolute;
    top: 5px;
    left: 72px;
    width: 50px;
    min-height: 29px;
    font-size: 1em;
    line-height: 1.38;
    text-align: center;
    color: #ffffff;
  }

  .winddirection{
      position: absolute;
      top: 50px;
      left: 80Px;
      color: #ffffff;
  }

  /* Container of sunrise,sunset, pressure icons */

.container2{
    position: relative;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    width: 260px;
    height: 180px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(88, 159, 240);
    box-shadow: 0 20px 50px rgba(5, 57, 116, 0.8);
    opacity: 0;
}

/*sunrise icon*/

.sunup{
    position: absolute;
    left: 50%;
    top: -35px;
    z-index: 2000;
    margin: 0 auto;
    padding: 0 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}

/*sunset icon*/
.sundown{
    position: absolute;
    left: 50%;
    top: 20px;
    margin: 0 auto;
    padding: 0 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}

/* sunset and sunrise txt container  */
.sun {
    position: absolute;
    top: 0;
    left: 54.73%;
    z-index: 6;
    width: 118px;
    height: 180px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(255, 255, 255);
  }

  /* sunrise text */
  .srise{
      position: absolute;
      top: 10px;
      padding: 0 0;
      margin: 0 auto;
      width: 118px;
      text-align: center;
  }

  /* sunset text */
  .sset{
    position: absolute;
    top: 75px;
    padding: 0 0;
    margin: 0 auto;
    width: 118px;
    text-align: center;
  }

  /* weather pressure icon */
  .wpress{
    position: absolute;
    top: 85px;
    left:129px;
    padding: 0 0;
    margin: 0 auto;
    width: 118px;
    text-align: center;
  }
/* weather pressure text */
  .pressure{
    position: absolute;
    top: 50px;
    left: 12.5px;
    padding: 0 0;
    margin: 0 auto;
    z-index: 10;
    width: 118px;
    height: 19px;
    text-align: center;
  }

  /* .flex_container1 > div {
	  position: relative;	  
	  height: 40px;
	  padding: 5px auto;
	  margin: auto;
  }

  .flex_container2 > div {
	position: relative;
	top: 20px;
	height: 40px;
	padding: 5px auto;
	margin: auto;
} */
  

/* simple app styles end */

/* .closeBtn{
    display: none;
} */

.alert {
    position: relative;
    text-align: center;
    top: 40px;
    padding: 5px ;
    width: 70%;
    height: 20px;
    margin: 0, auto;
    background-color: rgb(252, 102, 102, 0);
    color: rgb(245, 17, 17);
}

/* .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
} */

/* .rain{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;
    background: url(../content/img/rain.png) repeat;
    animation: animate-background linear 15s infinite;
} */


@media only screen and (max-width:768px){
    .has-children ul li a{
        padding: 2rem;
    }
     .nomenu{
        animation: animate-a 1s forwards;
        display: none;
    }
    .menu{
        animation: animate 1s forwards;
        display: block;
    }
    @keyframes animate{
        0%{
            opacity: 0;
            transform: translateX(-200px);
        }
        100%{
            opacity: 1;
            transform: translateX(0);
            box-shadow: 0 0 10px black;
        }
    }

    /* @keyframes animate-a{
        0%, 25%, 50%, 75%{
            opacity: 1;
            transform: translateX(0px);
        }
        100%{
            opacity: 0;
            transform: translateX(1000px);
        }
    } */

    /* @keyframes load{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    } */
    
    .hamburger{
        display: block;

    }

}

/* 5day forecast */
/* flex container for weather icons */

.flex_container1{
    position: relative;
	left: 100px;
	/* max-width: 25%; */
	margin: 0 auto
    /* display: flex; */
}

/* flex container for dates */

.flex_container2{
	position: relative;
	top: -96px;
	left: 200px;
    margin: 0 auto;
    /* max-width: 25%; */
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    animation: slide 4s forwards;
}

@keyframes slide{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    100%{
        opacity: .8;
        transform: translateX(0);
        /* box-shadow: 0 0 10px rgb(74, 9, 250); */
    }
   }

table, th, td {
	padding: 2px 8px;
	border: 1px solid rgb(255, 255, 255. 1);
    color: rgb(7, 0, 0);
    border-radius: 5px;
    font-size: 12px;
    background-color: rgb(88, 159, 240, .7);

 }

#map{
    height: 400px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    animation: slide 4s forwards;
}




@media only screen and (min-width:768px){
    
    nav ul{
        flex-grow: 1;
        flex-direction:row;
        justify-content: space-around;
    }
    
    nav ul li {
        position: relative;
        flex: 1 0 auto;
        text-align: left;   
    }

    
    nav ul li:hover ul{
        display:flex;
        flex-direction: column;
        
	}
	


    .flex_container1{
		/* position: absolute; */
		display: flex;
    }

    .flex_container2{
		/* position: relative; */
		width: 100%;
		display: flex;
	}

	/* flex items for weather icons */

	.day1_wicon{
		flex: 1;
		width: 100px;
	}

	.day2_wicon{
		flex: 1;
		width: 100px;
	}

	.day3_wicon{
		flex: 1;
		width: 100px;
	}

	.day4_wicon{
		flex: 1;
		width: 100px;
	}

	.day5_wicon{
		flex: 1;
		width: 100px;
	}


	/* flex items for date */
	.day1_date{
		flex: 1;
		width: 100px;
	}

	.day2_date{
		flex: 1;
		width: 100px;
	}

	.day3_date{
		flex: 1;
		width: 100px;
	}

	.day4_date{
		flex: 1;
		width: 100px;
	}

	.day5_date{
		flex: 1;
		width: 100px;
	}

} 

#img {
    align-content: center;
}

/* style footer anchors */

footer[role] span {
    color: #FFF;
    font-weight: bold;
}

footer[role]{
    font-size: .85em; /* 12.8px */
    background-color: rgb(14, 34, 61, .9);
    margin: 0 auto;
    min-height: 50px;
    box-shadow: 0 0 10px black;
}

footer[role] p {
    text-align: center;
    color: #FFF;
}